<div class="container">
    <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Picape</li>
    </ol>
  </nav>
</div>
<div class="container">
    <div class="contorno cardSpace" *ngFor="let picape of picapes">
        <img class="imgJustfy" [src]="picape.pathImage" alt="imagem Produto">
        <h4 class="cardName"> {{picape.tipe}} </h4>
        <h5 class="cardDescription">{{picape.name}}</h5>
        <p class="valor">{{picape.price}}</p>
    </div>
</div>
