<div class="container">
    <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Cupe</li>
    </ol>
  </nav>
</div>
<div class="container">
    <div class="contorno cardSpace" *ngFor="let cupe of cupes">
        <img class="imgJustfy" [src]="cupe.pathImage" alt="imagem Produto">
        <h4 class="cardName"> {{cupe.tipe}} </h4>
        <h5 class="cardDescription">{{cupe.name}}</h5>
        <p class="valor">{{cupe.price}}</p>
    </div>
</div>