<div class="d-inline-flex menu Container">
    <ul class="justify-content-start menu nav flex-column">
        <h6>AliCar</h6>
        <p>Carros Novos e Seminovos</p>
        <li class="nav-item">
            <a class="nav-link " [routerLink]="['/Buggy']" routerLinkActive="active">Buggy</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Conversivel</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Hatchback</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Minivan</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Perua SW</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Picape</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Sedâ</a>
        </li>
        <details>
            <summary>Utilitarios</summary>
            <li class="nav-item">
                <a class="nav-link" href="#">Conversível</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Van</a>
            </li>
        </details>
    </ul>
    <div class="content-wrapper">
        <router-outlet></router-outlet>
    </div>
</div>