<div class="d-inline-flex menu Container">
    <ul class="justify-content-start menu nav flex-column">
        <h6>AliCar</h6>
        <p>Carros Novos e Seminovos</p>
        <li class="nav-item">
            <a class="nav-link " [routerLink]="['/Buggy']" routerLinkActive="active">Buggy</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/Conversivel']" routerLinkActive="active">Conversivel</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/Cupe']" routerLinkActive="active">Cupe</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/Hatchback']" routerLinkActive="active">Hatchback</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/Minivan']" routerLinkActive="active">Minivan</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/Peruasw']" routerLinkActive="active">Perua sw</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/Picape']" routerLinkActive="active">Picape</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/Sedâ']" routerLinkActive="active">Sedâ</a>
        </li>
        <details>
            <summary>Utilitarios</summary>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/Esportivo']" routerLinkActive="active">Esportivo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/Van']" routerLinkActive="active">Van</a>
            </li>
        </details>
    </ul>
    <div class="content-wrapper">
        <router-outlet></router-outlet>
    </div>
</div>