details > summary {
    padding: 4px;
    width: 200px;
    border: none;
    cursor: pointer;
  }
  .menu {
    background-color: rgb(9, 13, 15);
    color: #fff;
  }
  
  details > p {
    padding: 4px;
    margin: 0;
  }
  a {
      text-decoration: none;
      color: inherit;
  }
  .menu h6{
    text-align: center;
    margin-top: 20px;
  }
  .menu li, details{
    padding-left: 30px;
  }
  .menu p{
    text-align: center;
  }
  .content-wrapper {
    background-color: #fff;
  }
  