<div class="container">
    <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item"><a href="#">Utilitarios</a></li>
      <li class="breadcrumb-item active" aria-current="page">Van</li>
    </ol>
  </nav>
</div>
<div class="container">
    <div class="contorno cardSpace" *ngFor="let van of vans">
        <img class="imgJustfy" [src]="van.pathImage" alt="imagem Produto">
        <h4 class="cardName"> {{van.tipe}} </h4>
        <h5 class="cardDescription">{{van.name}}</h5>
        <p class="valor">{{van.price}}</p>
    </div>
</div>
