<div class="container">
    <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">hatchback</li>
    </ol>
  </nav>
</div>
<div class="container">
    <div class="contorno cardSpace" *ngFor="let hatchback of hatchbacks">
        <img class="imgJustfy" [src]="hatchback.pathImage" alt="imagem Produto">
        <h4 class="cardName"> {{hatchback.tipe}} </h4>
        <h5 class="cardDescription">{{hatchback.name}}</h5>
        <p class="valor">{{hatchback.price}}</p>
    </div>
</div>
