<div class="container">
    <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Buggy</li>
    </ol>
  </nav>
</div>
<div class="container">
    <div class="contorno cardSpace" *ngFor="let buggy of buggys">
        <img class="imgJustfy" [src]="buggy.pathImage" alt="imagem Produto">
        <h4 class="cardName"> {{buggy.tipe}} </h4>
        <h5 class="cardDescription">{{buggy.name}}</h5>
        <p class="valor">{{buggy.price}}</p>
    </div>
</div>
